<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Free mobile app HTML landing page template to help you build a great online presence for your app which will convert visitors into users">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>CIAO Rides</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    
    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    
<div class="container nav-container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <div class="container">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Leno</a> -->

        <!-- Image Logo -->
        <a class="logo" href="index.html"><img src="images/logo.png" alt="alternative"></a> 
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="index.html">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="index.html#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="index.html#overview">OVERVIEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="index.html#features">FEATURES</a>
                </li>

                <!-- Dropdown Menu -->          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#details" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">MORE</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">TERMS CONDITIONS</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">PRIVACY POLICY</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                         <a class="dropdown-item" href="refund-polic.html"><span class="item-text">REFUND POLICY</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->
                  <li class="nav-item">
                    <a class="nav-link page-scroll" href="#">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="contact.html">CONTACT</a>
                </li>
            </ul>
            <!-- <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span> -->
        </div>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->
</div>
    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Us</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-double-right"></i>
                        <span>Contact us</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Terms Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
            
                 <div class="col-md-6">
                    <div class="footer-col last">
                        <h4>Mail us</h4>
                         <div class="row form-group">
                                <div class="col-lg-1">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="col-lg-10">
                                    <a href="mailto:support@ciaorides.com"> support@ciaorides.com </a> </div>
                         </div>
                             <h4>Follow us</h4>
                             <div class="follow">
                                <a href="#">
                             <i class="fab fa-facebook-square"></i>
                                  </a>
                                  <a href="#">
                             <i class="fab fa-linkedin"></i></a>
                             <a href="#">
                             <i class="fab fa-instagram"></i></a>
                             <a href="#">
                             <i class="fab fa-twitter-square"></i>
                             </a>
                             <a href="#">
                             <i class="fab fa-pinterest-square"></i></a>
                             </div>
                    </div> 
                </div> 
                <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" placeholder="enter your name" class="form-control" name="">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" placeholder="enter your mail id" class="form-control" name="">
                        </div>
                        <div class="form-group">
                            <label>Contact No</label>
                            <input type="text" placeholder="contact number" class="form-control" name="">
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" placeholder="contact number" class="form-control" name="">
                        </div>
                       <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" placeholder="enter your message"></textarea>
                       </div>
                        <div class="form-group btn-auto">
                            <button class="btn btn-ciao">Submit</button> 
                        </div>
            </div>
            </div> 
    
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic -->
    <!-- end of terms content -->

    
   

    <!-- Footer -->
    
    <!-- Footer -->
    <div class="footer" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About CIAO Rides</h4>
                        <p>CIAO rides is a pooling application initiated from “CIAO RIDES PVT LTD”, provide services for both in station and outstation rides. ciao rides established in year of 2018.</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Quick Links</h4>
                      <ul class="list-unstyled li-space-lg">
                             <li class="media">
                                
                                <a class="turquoise" href="terms-conditions.html">Terms & Conditions</a>
                            </li>
                            <li class="media">
                                
                                 <a class="turquoise" href="privacy-policy.html">Privacy Policy</a>
                            </li>
                             <li class="media">
                                 <a class="turquoise" href="refund-policy.html">Refund Policy</a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Mail us</h4>
                         
                         <div class="row form-group">
                                <div class="col-lg-1">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="col-lg-10">
                               <a href="mailto:support@ciaorides.com"> support@ciaorides.com </a></div>
                         </div>
                         
                    </div> 
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                     <a href="#">
                             <i class="fab fa-facebook-square"></i>
                                  </a>
                                  <a href="#">
                             <i class="fab fa-linkedin"></i></a>
                             <a href="#">
                             <i class="fab fa-instagram"></i></a>
                             <a href="#">
                             <i class="fab fa-twitter-square"></i>
                             </a>
                             <a href="#">
                             <i class="fab fa-pinterest-square"></i></a>
                </div>
                <div class="col-lg-4">
                    <p class="p-small">Copyright © 2020 | All Rights Reserved CIAO Rides </p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>