<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Free mobile app HTML landing page template to help you build a great online presence for your app which will convert visitors into users">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>CIAO Rides</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    
<div class="container nav-container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <div class="container">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Leno</a> -->

        <!-- Image Logo -->
        <a class="logo" href="index.html"><img src="images/logo.png" alt="alternative"></a> 
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#overview">OVERVIEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#features">FEATURES</a>
                </li>

                <!-- Dropdown Menu -->          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#details" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">MORE</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">TERMS CONDITIONS</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">PRIVACY POLICY</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                         <a class="dropdown-item" href="refund-policy.html"><span class="item-text">REFUND POLICY</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="contact.html">CONTACT</a>
                </li>
            </ul>
            <!-- <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span> -->
        </div>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->
</div>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2>MOBILE APP FOR <br><span id="js-rotating">CAR/BIKE POOLING</h2>
                            <p class="p-large">CIAO rides happy to serve you always.</p>
               <a class="btn-solid-lg page-scroll" href="https://apps.apple.com/gb/app/ciao-rides/id1493250938" target="_blank"><i class="fab fa-apple"></i>APP STORE</a>
                            <a class="btn-solid-lg page-scroll"  target="_blank" href="https://play.google.com/store/apps/details?id=com.iprismtech.ciaoapp&hl=en"><i class="fab fa-google-play"></i>PLAY STORE</a>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="images/home-banner.png" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Features -->
    <div id="about" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 center-div about-div">
                    <h2>About CIAO Rides</h2>
                    <ul>
                        <li>CIAO Rides is a pooling application initiated from “CIAO RIDES PVT LTD”, provide services for both in station and outstation rides. CIAO Rides established in year of 2018. </li>
                        <li>Travelling is the most common task of every one’s daily life and it is most awful when it comes to city and even sometimes outstation journeys. CIAO Rides helps to make it simpler, safer and trusted journeys.</li>
                        <li>CIAO Rides proud to say by taking the initiative to reduce traffic and to reduce the pollution with vehicle pooling. CIAO Rides helps in money saving, fuel saving, easy rides and making new friends. </li>
                        <li>CIAO Rides offers trusted safe rides and with secure transaction. CIAO Rides offers pooling platform for two and four-wheeler with instant and schedule rides option for both in station and outstation rides.</li>
                        <li> CIAO Rides happy to serve you always. </li>
                        
                    </ul>
                </div>
                 <!-- end of col -->
            </div> <!-- end of row -->
            </div> <!-- end of row -->
            </div> 
              <!-- Video -->
    <div id="overview" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 30px;">
                    <h2>OVERVIEW</h2>
                </div> 
              <div class="slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                <!-- Slide -->
                                
                                 <div class="swiper-slide">
                                    <a href="images/sc8.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc8.png" alt="alternative">
                                    </a>
                                </div>
                                 <div class="swiper-slide">
                                    <a href="images/sc11.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc11.png" alt="alternative">
                                    </a>
                                </div>
                                 <div class="swiper-slide">
                                    <a href="images/sc6.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc6.png" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="images/sc1.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc1.png" alt="alternative">
                                    </a>
                                </div>
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="images/sc3.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc3.png" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="images/sc4.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc4.png" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="images/sc5.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc5.png" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                              
                                  <div class="swiper-slide">
                                    <a href="images/sc7.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc7.png" alt="alternative">
                                    </a>
                                </div>
                                 
                                  <div class="swiper-slide">
                                    <a href="images/sc9.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc9.png" alt="alternative">
                                    </a>
                                </div>
                               
                                
                                
                                  <div class="swiper-slide">
                                    <a href="images/sc12.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc12.png" alt="alternative">
                                    </a>
                                </div>
                                 <!-- Slide -->
                                <div class="swiper-slide">
                                    <a href="images/sc2.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc2.png" alt="alternative">
                                    </a>
                                </div>
                                <!-- end of slide -->
                                 <!-- <div class="swiper-slide">
                                    <a href="images/sc13.png" class="popup-link" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/sc13.png" alt="alternative">
                                    </a>
                                </div> -->
                                <!-- end of slide -->
                                
                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> 

    <!-- Download -->
            <div class="features" id="features">
                        <div class="container">
                            <div class="col-lg-12">
                    <h2 class="text-center">FEATURES</h2>
                    <div class="p-heading p-large"> CIAO Rides offers trusted safe rides and with secure transaction. ciao rides offers pooling platform for two and four-wheeler with instant and schedule rides option for both in station and outstation rides.</div>
                </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <img class="img-fluid" src="images/side.png" alt="alternative">
                                </div>
                                <div class="col-lg-4">
                                    <div class="card left-pane first">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <i class="fas fa-car"></i>
                                            <h4 class="card-title">Car Pool</h4>
                                            <p>Car pooled rides does make travelling easy</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="card left-pane">
                                        <div class="card-body">
                                             <div class="card-icon">
                                                <i class="fas fa-building"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">City Mode</h4>
                                                <p>Sharing a ride together with carpooling experience in the city!</p>
                                            </div>
                                           
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="card left-pane first">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="fas fa-motorcycle"></i>
                                            </div>
                                            <div class="text-wrapper">
                                            <h4 class="card-title">Bike Pool</h4>
                                            <p>bike pooling made quick for daily commuting</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="fas fa-road"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Out Station</h4>
                                                <p>Ride outstation with affordable prices.</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- <div class="card right-pane first">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Highest Bidder</h4>
                                                <p>DELIVERING IT THE HIGHEST BIDDER ONCE ALL THE TERMS AND CONDITIONS ARE MET</p>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div> 


  
    

    <!-- Footer -->
    <div class="footer" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About CIAO Rides</h4>
                        <p>CIAO Rides is a pooling application initiated from “CIAO RIDES PVT LTD”, provide services for both in station and outstation rides. ciao rides established in year of 2018.</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                
                                <a class="turquoise" href="terms-conditions.html">Terms & Conditions</a>
                            </li>
                            <li class="media">
                                
                                 <a class="turquoise" href="privacy-policy.html">Privacy Policy</a>
                            </li>
                             <li class="media">
                                 <a class="turquoise" href="refund-policy.html">Refund Policy</a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Mail us</h4>
                         
                         <div class="row form-group">
                                <div class="col-lg-1">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="col-lg-10">
                                    <a href="mailto:support@ciaorides.com"> support@ciaorides.com </a>
                                </div>
                         </div>
                         
                    </div> 
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                     <a href="#">
                             <i class="fab fa-facebook-square"></i>
                                  </a>
                                  <a href="#">
                             <i class="fab fa-linkedin"></i></a>
                             <a href="#">
                             <i class="fab fa-instagram"></i></a>
                             <a href="#">
                             <i class="fab fa-twitter-square"></i>
                             </a>
                             <a href="#">
                             <i class="fab fa-pinterest-square"></i></a>
                </div>
                <div class="col-lg-4">
                    <p class="p-small">Copyright © 2020 | All Rights Reserved CIAO Rides </p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>